.intro {
  font-family: fantasy;
  font-style: italic;
  width: 50%;
}

.first {
  font-family: cursive;
  color: pink;
}

.second {
  font-weight: bolder;
  color: white;
  background-color: purple;
}
div {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 10px solid green;
}
